<%- include("partials/header"); %>
<div class="b">
  <div class="a">
    <div class="wrapper">
        <header>Which party you like the most? <br></header>
<div class="poll-area">
    <input type="checkbox" name="poll" id="opt-1">
    <input type="checkbox" name="poll" id="opt-2">
    <input type="checkbox" name="poll" id="opt-3">
    <input type="checkbox" name="poll" id="opt-4">
    <label for="opt-1" class="opt-1">
      <div class="row">
        <div class="column">
          <span class="circle"></span>
          <span class="text">Bhartiya Janta party</span>
        </div>
        <span class="percent">95%</span>
      </div>
      <div class="progress" id="pstyle1" style='--w:95;'></div>
    </label>
    <label for="opt-2" class="opt-2">
      <div class="row">
        <div class="column">
          <span class="circle"></span>
          <span class="text">Samajwadi party</span>
        </div>
        <span class="percent">20%</span>
      </div>
      <div class="progress" id="pstyle2" style='--w:20;'></div>
    </label>
    <label for="opt-3" class="opt-3">
      <div class="row">
        <div class="column">
          <span class="circle"></span>
          <span class="text">Aam Aadmi Party</span>
        </div>
        <span class="percent">20%</span>
      </div>
      <div class="progress" id="pstyle3" style='--w:20;'></div>
    </label>
    <label for="opt-4" class="opt-4">
      <div class="row">
        <div class="column">
          <span class="circle"></span>
          <span class="text">Bahujan Samaj Party</span>
        </div>
        <span class="percent">20%</span>
      </div>
      <div class="progress" id="pstyle4" style='--w:20;'></div>
    </label>
  </div>
</div>
</div>
</div>
<%- include("partials/footer"); %> 